/*Bienvenida*/
#base{
    position: relative;
    width: 414px;
    height: 736px;
    margin:0 auto;
    overflow: hidden;
    border: 3px solid black;
    background-color: #36AAD9;
}
.pos{
    position:absolute;
}

#pos1{
    margin-top: 35px;
    margin-left: 94px;
    font-size: 55px;
    color: white;
}
#pos2{
    margin-top: 118px;
    margin-left: 141px;
    font-size: 28px;
    color: white;
}
#pos3{
    margin-top: 202px;
    margin-left: 141px;
    color: white;
}

#posBtn1{
    width: 225px;
    height: 59px;
    font-size: 15px;
    margin-top: 368px;
    margin-left: 90px;
    color: white;
    background: #920581;
    border-radius: 20px;
}

#posBtn2{
    width: 225px;
    height: 59px;
    font-size: 15px;
    margin-top: 458px;
    margin-left: 90px;
    color: white;
    background: #920581;
    border-radius: 20px;
}
#font{
    font-size: 27px;
    margin-top: 10px;
}
#pos4{
    margin-top: 543px;
    margin-left: 0px;
    font-size: 20px;
    text-align: center;
    color: white;
}

#posBtn3{
    width: 158px;
    height: 42px;
    font-size: 10px;
    margin-top: 639px;
    margin-left: 125px;

    background: #920581;
    border-radius: 20px;
}
#font2{
    font-size: 15px;
    margin-top: 10px;
    color: white;
}
/*inciar sesion*/
#baseS{
    position: relative;
    width: 414px;
    height: 736px;
    margin:0 auto;
    overflow: hidden;
    border: 3px solid black;
    background-color: #DCDCDC;
}
#barra{
    width: 414px;
    height: 68px;
    margin:0 auto;
    overflow: hidden;
    border: 3px solid #6F6F6F;
    background-color: #6F6F6F;
}
#imgUser{
    margin-top: 16px;
    margin-left: 64px;
}
#posI1{
    margin-top: 18px;
    margin-left: 130px;
    color: white;
    font-size: 30px;
}
#imgMedellin{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 43px;
}
#posI2{
    margin-top: 42px;
    margin-left: 170px;
    font-size: 20px;
}
#userLabel{
    margin-top: 20px;
    margin-left: 43px;
    font-size: 20px;
}
#usuario{
    text-align: center;
    width: 300px;
    height: 52px;
    margin-top: 36px;
    margin-left: -65px;
    color: white;
    background: #A0A0A0;
    border: 3px solid #707070;
    font-size: 20px;
    font-style: italic;
}
#passLabel{
    margin-top: 187px;
    margin-left: 43px;
    font-size: 20px;
}
#contra{
    text-align: center;
    width: 300px;
    height: 52px;
    margin-top: 36px;
    margin-left: -90px;
    color: white;
    background: #A0A0A0;
    border: 3px solid #707070;
    font-size: 20px;
    font-style: italic;
}
::placeholder{
    color: #D0CBCF;
}
#posIBtn1{
    width: 225px;
    height: 59px;
    margin-top: 320px;
    margin-left: 90px;
    background: #920581;
    border-radius: 20px;
}
#fontI1{
    font-size: 25px;
    margin-top: 13px;
    color: white;
}
#posIBtn2{
    width: 158px;
    height: 42px;
    margin-top: 420px;
    margin-left: 125px;
    background: #920581;
    border-radius: 20px;
}
/*registro*/
#posR1{
    margin-top: 10px;
    margin-left: 100px;
    font-size: 20px;
    text-align: center;
}

#emLabel{
    margin-top: 59px;
    margin-left: 48px;
    font-size: 20px;
}
#email{
    text-align: center;
    width: 300px;
    height: 52px;
    margin-top: 10px;
    color: white;
    background: #A0A0A0;
    border: 3px solid #707070;
    font-size: 20px;
    font-style: italic;
}
#userL{
    margin-top: 180px;
    margin-left: 48px;
    font-size: 20px;
}
#usuarioR{
    text-align: center;
    width: 300px;
    height: 52px;
    margin-top: 10px;
    color: white;
    background: #A0A0A0;
    border: 3px solid #707070;
    font-size: 20px;
    font-style: italic;
}
#passR{
    margin-top: 301px;
    margin-left: 48px;
    font-size: 20px;
}
#contraR{
    text-align: center;
    width: 300px;
    height: 52px;
    margin-top: 10px;
    color: white;
    background: #A0A0A0;
    border: 3px solid #707070;
    font-size: 20px;
    font-style: italic;
}
#rpassR{
    margin-top: 422px;
    margin-left: 48px;
    font-size: 20px;
}
#rcontra{
    text-align: center;
    width: 300px;
    height: 52px;
    margin-top: 10px;
    color: white;
    background: #A0A0A0;
    border: 3px solid #707070;
    font-size: 20px;
    font-style: italic;
}
#radio{
    margin-top: 530px;
    margin-left: 60px;
    font-size: 20px;
}
#posRBtn{
    width: 225px;
    height: 59px;
    margin-top: 570px;
    margin-left: 90px;
    background: #920581;
    border-radius: 20px;
}

